/* Largest screen. */
@media (min-width: 991px) {
  /* Center the logo and branding, side-by-side. */
  /*
  .site-branding {
    margin: 0 auto;
    width: 800px;
  }
  */
  .site-name {
    width: 590px;
    margin: auto;
  }
  .site-name a {
    font-size: 100px;
    line-height: 105px;
    font-weight: 500;
  }
  .site-name a {
    font-size: 80px;
    line-height: 105px;
    font-weight: 500;
  }

}

/* Medium Screen */
@media (max-width: 991px) and (min-width: 767px ) {
/*
  .site-branding {
    margin: 0 auto;
    width: 600px;
  }
*/
  .site-name {
    width: 400px;
    margin: auto;
  }

  .site-name a {
    font-size: 70px;
    line-height: 75px;
    font-weight: 500;
  }


}

/* Narrow screen */
@media (max-width: 767px) {

  /* Center the logo and branding, side-by-side. */
  /*
  .site-branding {
    margin: 0 auto;
    width: 400px;
  }
  .logo {
    width: 95px;
    display: block;
    margin: auto

  }
  .site-name {
    width: 300px;
    margin: auto;
  }
  .site-name a {
    font-size: 50px;
    line-height: 55px;
    font-weight: 500;

  }
  */

  .cb-slideshow li:nth-child(1) span {
    background-image: url(../images/jade-pole-frame.png)
  }
  .cb-slideshow li:nth-child(2) span {
    background-image: url(../images/jade-hammock-frame.png);
    animation-delay: 9s;
  }

  .cb-slideshow li:nth-child(2) div {
    animation-delay: 9s;
  }
}

/* Normal Screen */
@media (min-width: 767px ) {

/*
  .region-primary-menu{
    display: inline-block;
    float: none;
    width: auto;
    margin: 0;
  }
*/
  .region-primary-menu,
  .menu-base-theme li a{
    background: none;
  }

  .menu-base-theme a{
    border: 0;
  }

  .menu-base-theme > li{
    border: 0;
  }

  .menu-base-theme a span.sub-arrow {
    padding: 0;
    top: 23px;
    margin-top: 0;
    bottom: 2px;
    right: 5px;
    margin-left: -5px;
    left: auto;
    width: 0;
    height: 0;
    border-width: 5px;
    border-style: solid dashed dashed dashed;
    border-color: #fff transparent transparent transparent;
    background: transparent;
  }

  .menu-base-theme ul {
    border: 1px solid #a8a8a8;
    padding: 0;
    background-color: #fff;
    background: rgba(255, 255, 255, 0.74);
  }

  .menu-base-theme ul.has-submenu li {
    border-bottom: 1px solid #fff;
  }

  .welcome-banner-text h2{
    font-size: 50px;
  }

  .welcome-banner-text{
    font-size: 14px;
  }

  .bottom-widgets{
    text-align: left;
    padding: 50px 0;
  }

  .footerwidget{
    padding: 50px 0;
  }

  .credit-link{
    text-align: right;
  }

  .social-media{
    float: right;
  }

  .social-media a{
    margin: 0 0 0 10px;
  }

  /*comment*/

  .comment-wrap .author-details{ width: 10%; }

  .comment-wrap .author-comments{ width: 90%;}
}
