.site-branding__name {
  font-family: 'OpenSans', sans-serif;
}

.site-branding__name a:hover{
  text-decoration: none;
}
.aw-slogan {
  font-family: 'Shrikhand', sans-serif;
  color: #e0ff4f;
}

.body {
  font-family: 'OpenSans', 'OpenSans';
}
