
/**
Colours:

#424B54 Outer Space (dark grey)
#DFFF00 Chartreuse trad
#BAACBD Black Shadows
#172121 C9C5CB Lavender gray
#D7D9D7 Timberwolf

*/

/* Center the logo and branding */
.site-branding {
  margin: 0 auto;
}

@media (min-width: 767px) {
  .navbar-header {
    float:right;
  }
}

/* Headshots are round. */
.headshot-round img {
  border-radius: 50%;
}

/* Instructor profiles */
.aw-instructor-block-center {
  max-width: 300px;
  margin: 0 auto;
  text-align: center;
}
